<% content_for :title, t(".page_title", tournament_name: @tournament.title) %>
<h1><%= t(".page_header", tournament_name: @tournament.title) %></h1>

<%= render "form", tournament: @tournament %>

<p>
<%= link_to t("cancel_link"), :back %>
</p>
