<% content_for :title, t(".page_title") %>
<h1><%= t(".page_header") %></h1>

<%= render "form", tournament: @tournament %>

<p>
<%= link_to t("tournaments.tournament_list"), user_tournaments_path %>
</p>