<% content_for :title, @tournament.title %>
<% content_for :refresh_tag, @refresh_tag %>

<p><table class="kiosk_table">
<thead>
  <tr>
    <th class="kiosk_column_header">Rank</th>
    <th class="kiosk_column_header">Scene</th>
    <th class="kiosk_column_header">Score</th>
  </tr>
</thead>
<tbody>
<% @tournament.scene_scores.rank_order.each do |scene| %>
  <tr>
    <td class="kiosk_rank"><%= scene.rank %></td>
    <td class="kiosk_scene"><%= scene.name %></td>
    <td class="kiosk_score"><%= scene.score %></td>
  </tr>
<% end %>
</tbody>
</table></p>
