<% content_for :title, @tournament.title %>
<% content_for :refresh_time, @refresh_time %>
<div class="kiosk_title"><%= t(".page_header", title: @tournament.title) %></div>
<hr>

<p><table class="kiosk_table">
<thead>
  <tr>
    <th class="kiosk_column_header">Rank</th>
    <th class="kiosk_column_header">Scene</th>
    <th class="kiosk_column_header">Score</th>
  </tr>
</thead>
<tbody>
<% @tournament.scene_scores.rank_order.each do |scene| %>
  <tr>
    <td class="kiosk_column"><%= scene.rank %></td>
    <td class="kiosk_column"><%= scene.name %></td>
    <td class="kiosk_column"><%= scene.score %></td>
  </tr>
<% end %>
</tbody>
</table></p>
