// Place all the styles related to the Kiosk controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.kiosk_body
{
  background-color: black;
  color: white;
}

.kiosk_title
{
    font-size: 32pt;
    font-weight: bold;
}

.kiosk_table
{
    border-collapse: collapse;

    th, td
    {
        padding: 5pt;
    }

    th
    {
        border-bottom: 3px solid red;
    }

    tr:nth-child(even)
    {
        background-color: #222;
    }
}

.kiosk_column_header
{
    font-style: italic;
    vertical-align: top;
}

.kiosk_rank
{
    text-align: center;
}

.kiosk_scene
{
}

.kiosk_score
{
    text-align: right;
}
